<!DOCTYPE html>
<html ng-app>
    <head>
		<script src="js/vendor/angular.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" media="screen,print" href="css/normalize.css">
        <link rel="stylesheet" media="screen,print" href="css/main.css">
		<link rel="stylesheet" media="screen,print" href="css/vendor/bootstrap.min.css">
		<script src="js/main.js"></script>
    </head>
    <body>
		<!-- Name, colour, Mana Gen, Shield, On-colour Ability Cost, On-colour Ability 1, Other Ability colour, Other Ability Cost, Other Ability -->
		<div ng-controller="dataCtrl">
			<div class="container" style="padding-left:0px; padding-right:0px">
				<div ng-repeat="n in sourceLoopLength()">
					<div class="row">
						<div ng-repeat="data in nextFourSources()">
							<div class="col-xs-3">
								<div class="card">
									<div>
										<span class="name">{{data.name}}</span>
										<span class="card-colour colour">{{data.colour}}</span>
									</div>						
									<div class="card-label">
										<span>Mana Gen:</span>
										<span class="mana-gen">{{data.mana}}</span>
									</div>
									<div class="card-label">
										<span>Shield:</span>
										<span class="shield">{{data.shield}}</span>
									</div>
									<div class="on-colour">
										<span class="on-colour-ability-cost cost">{{data.on_ability_cost}}</span>
										<span class="on-colour-ability">{{data.on_abilit_desc}}</span>
									</div>
									<div class="other-colour">
										<div class="other-ability-colour colour">{{data.other_ability_colour}}</div>
										<div class="other-ability-cost cost">{{data.other_ability_cost}}</div>
										<div class="other-ability">{{data.other_ability}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-row-space">
						<div ng-if="printSourceSpace()">
							<div class="bottom-page-space"></div>
						</div>
					</div>
				</div>
				<div ng-repeat="n in spellLoopLength()">
					<div class="row">
						<div ng-repeat="data in nextFourSpells()">
							<div class="col-xs-3">
								<div class="card">
									<div>
										<span class="spell-label">
											Spell
										</span>
										<span class="name">{{data.name}}</span>
									</div>						
									<div class="on-colour">
										<div class="on-colour-ability-colour colour">{{data.colour}}</div>
										<div class="on-colour-ability-cost cost">{{data.on_ability_cost}}</div>
										<div class="on-colour-ability">{{data.on_abilit_desc}}</div>
									</div>
									<div class="other-colour">
										<div class="other-ability-colour colour">{{data.other_ability_colour}}</div>
										<div class="other-ability-cost cost">{{data.other_ability_cost}}</div>
										<div class="other-ability">{{data.other_ability}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom-row-space">
						<div ng-if="printSpellSpace()">
							<div class="bottom-page-space"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
		<script src="js/vendor/modernizr-2.7.1.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script> -->
    </body>
</html>
